.search {
    padding-top: 7rem;
    padding-bottom: 5%;
}

.search__container {}

.search__title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #43FFD2;
}

.search__text {
    max-width: 300px;
    margin-bottom: 20px;
}

.search__link {
    display: inline-block;
    padding: 15px 90px;
    font-weight: 700;
    background-color: #43FFD2;
    color: #000;
}