@font-face {
    font-family: Cormorant;
    src: url(../../fonts/Cormorant-Regular.woff);
    display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cormorant;
    src: url(../../fonts/Cormorant-Light.woff);
    display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Oswald;
    src: url(../../fonts/Oswald-Bold.woff);
    display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Oswald;
    src: url(../../fonts/Oswald-Regular.woff);
    display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Oswald;
    src: url(../../fonts/Oswald-Light.woff);
    display: swap;
    font-weight: 300;
    font-style: normal;
}